<div class="browsemaster">

  <div class="browsemaster_video">
      <img src="{{ site.baseurl }}/assets/bmHomepageGradients.png">
      <video id="homepageVideo">
        <source src="{{ site.baseurl }}/assets/trailer-killingEve.mp4" >
      </video>
  </div>

  <div class="browsemaster_text">

    <div class="browsemaster_title">
      Best of <br> iPlayer
    </div>

    <div class="browsemaster_subtitle">
      Five killer new seasons <br> not to be missed
    </div>

  </div>

  <div class="browsemaster_buttonContainer slctble">

    <div class="browsemaster_button fsble">Find out more</div>

  </div>

</div>
